

<hr />
<ul>
  <li><a href="/booklist/John">Books of John</a></li>
  <li><a href="/booklist/Maya">Books of Maya</a></li>
  <li><a href="/booklist/">All books in database</a></li>
  <li><a href="/booklist/expensive">Expensive books</a></li>
</ul>
